In [1]:
import pandas as pd
import numpy as np

In [2]:
crop_data = pd.read_excel('D:\DataScience\MINOR PROJECT\Rajasthan_Crop_Final.xlsx')

In [3]:
df = pd.DataFrame(crop_data)

In [4]:
df.head()

  State_Name District_Name  Crop_Year  Season    Crop      Area  Production
0  Rajasthan         AJMER       1997  Kharif   Bajra   56600.0     30400.0
1  Rajasthan         AJMER       1997  Kharif   Jowar  105900.0     34600.0
2  Rajasthan         AJMER       1997  Kharif   Maize   43600.0     33100.0
3  Rajasthan         AJMER       1997  Kharif   Onion    2800.0      4500.0
4  Rajasthan         AJMER       1997    Rabi  Barley   24700.0     28900.0

In [5]:
df.shape

(5152, 7)

In [6]:
df.Crop.value_counts()

Wheat                748
Rapeseed &Mustard    748
Barley               747
Bajra                742
Jowar                739
Onion                723
Maize                705
Name: Crop, dtype: int64

In [7]:
df.District_Name.value_counts()

JALORE            161
JHALAWAR          161
AJMER             161
BHARATPUR         161
ALWAR             161
SAWAI MADHOPUR    161
PALI              161
NAGAUR            161
TONK              161
JAIPUR            161
BARAN             160
SIROHI            160
BHILWARA          160
JODHPUR           160
BANSWARA          160
CHITTORGARH       160
DAUSA             160
SIKAR             160
RAJSAMAND         160
DUNGARPUR         159
UDAIPUR           159
BARMER            159
KOTA              159
GANGANAGAR        159
DHOLPUR           157
BUNDI             157
JHUNJHUNU         155
KARAULI           155
HANUMANGARH       154
BIKANER           151
CHURU             148
JAISALMER         146
PRATAPGARH         84
Name: District_Name, dtype: int64

In [8]:
df.Area.isnull().sum()

33

In [9]:
df.drop(df[df['Crop']=="Onion"].index, inplace = True)

In [10]:
df.shape

(4429, 7)

In [11]:
df.drop(df[df['Crop']=="Maize"].index, inplace = True)

In [12]:
df.shape

(3724, 7)

In [13]:
df.drop(df[df['District_Name']=="PRATAPGARH"].index, inplace = True)

In [14]:
df.shape

(3664, 7)

In [15]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Rajasthan,AJMER,1997,Kharif,Bajra,56600.0,30400.0
1,Rajasthan,AJMER,1997,Kharif,Jowar,105900.0,34600.0
4,Rajasthan,AJMER,1997,Rabi,Barley,24700.0,28900.0
5,Rajasthan,AJMER,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0
6,Rajasthan,AJMER,1997,Rabi,Wheat,79300.0,144500.0

In [16]:
df["Yield"] = df['Production']/df['Area']

In [17]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield
0,Rajasthan,AJMER,1997,Kharif,Bajra,56600.0,30400.0,0.537102
1,Rajasthan,AJMER,1997,Kharif,Jowar,105900.0,34600.0,0.326723
4,Rajasthan,AJMER,1997,Rabi,Barley,24700.0,28900.0,1.170040
5,Rajasthan,AJMER,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098
6,Rajasthan,AJMER,1997,Rabi,Wheat,79300.0,144500.0,1.822194

In [18]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield
0,Rajasthan,AJMER,1997,Kharif,Bajra,56600.0,30400.0,0.537102
1,Rajasthan,AJMER,1997,Kharif,Jowar,105900.0,34600.0,0.326723
4,Rajasthan,AJMER,1997,Rabi,Barley,24700.0,28900.0,1.170040
5,Rajasthan,AJMER,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098
6,Rajasthan,AJMER,1997,Rabi,Wheat,79300.0,144500.0,1.822194

In [19]:
soil = []
for x in df['District_Name']:
    
    if x=="BARMER":
        soil.append("Desert soils and sand dunes aeolian soil, coarse sand in texture some places calcareous")
    
    elif x=="GANGANAGAR" or x=="HANUMANGARH":
        soil.append("Alluvial deposites calcareous, high soluble salts & exchangeable sodium")
    
    elif x=="BIKANER" or x=="JAISALMER":
        soil.append("Desert soils and sand dunes aeolian soil, loamycoarse in texture & calcareous")
    
    elif x=="NAGAUR" or x=="SIKAR" or x=="JHUNJHUNU":
        soil.append("Sandy loam, sallow depth red soils in depressions")
    
    elif x=="JALORE" or x=="PALI":
        soil.append("Red desert soils")
    
    elif x=="JAIPUR" or x=="AJMER" or x=="DAUSA" or x=="TONK":
        soil.append("Sierozens, eastern part alluvial, west north west lithosols, foot hills, brown soils")
    
    elif x=="ALWAR" or x=="DHOLPUR" or x=="BHARATPUR" or x=="KARAULI" or x=="SAWAI MADHOPUR":
        soil.append("Alluvial prone to water logging, nature of recently alluvial calcareous has been observed")
    
    elif x=="BHILWARA" or x=="RAJSAMAND":
        soil.append("Soil are lithosolsat foot hills & alluvials in plains")
    
    elif x=="DUNGARPUR" or x=="BANSWARA":
        soil.append("Predominantly reddish medium texture, well drained calcareous, shallow on hills, deep soils in valleys")
    
    elif x=="KOTA" or x=="JHALAWAR" or x=="BUNDI" or x=="BARAN":
        soil.append("Black of alluvial origin, clay loam, groundwater salinity")
    
    elif x=="JODHPUR":
        soil.append("Desert soils and sand dunes aeolian soil, coarse sand in texture some places calcareous, Red desert soils")
    
    elif x=="CHURU":
        soil.append("Desert soils and sand dunes aeolian soil, loamycoarse in texture & calcareous, Sandy loam, sallow depth red soils in depressions")
    
    elif x=="SIROHI":
        soil.append("Red desert soils, Soil are lithosolsat foot hills & alluvials in plains")
    
    elif x=="UDAIPUR" or x=="CHITTORGARH":
        soil.append("Soil are lithosolsat foot hills & alluvials in plains, Predominantly reddish medium texture, well drained calcareous, shallow on hills, deep soils in valleys")

In [20]:
df["Soil_Type"] = soil

In [21]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield,Soil_Type
0,Rajasthan,AJMER,1997,Kharif,Bajra,56600.0,30400.0,0.537102,"Sierozens, eastern part alluvial, west north w..."
1,Rajasthan,AJMER,1997,Kharif,Jowar,105900.0,34600.0,0.326723,"Sierozens, eastern part alluvial, west north w..."
4,Rajasthan,AJMER,1997,Rabi,Barley,24700.0,28900.0,1.170040,"Sierozens, eastern part alluvial, west north w..."
5,Rajasthan,AJMER,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098,"Sierozens, eastern part alluvial, west north w..."
6,Rajasthan,AJMER,1997,Rabi,Wheat,79300.0,144500.0,1.822194,"Sierozens, eastern part alluvial, west north w..."

In [22]:
df.shape

(3664, 9)

In [23]:
df.to_excel("Data_With_SoilTypeCol_and_SeasonalRainfall.xlsx",index=False)

In [24]:
df1 = df['Soil_Type'].str.get_dummies(sep=',')

In [25]:
df1.head()

,Predominantly reddish medium texture,Red desert soils,Sandy loam,Soil are lithosolsat foot hills & alluvials in plains,brown soils,clay loam,coarse sand in texture some places calcareous,deep soils in valleys,eastern part alluvial,foot hills,...,west north west lithosols,Alluvial deposites calcareous,Alluvial prone to water logging,Black of alluvial origin,Desert soils and sand dunes aeolian soil,Predominantly reddish medium texture,Red desert soils,Sandy loam,Sierozens,Soil are lithosolsat foot hills & alluvials in plains
0,0,0,0,0,1,0,0,0,1,1,...,1,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,1,1,...,1,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,1,1,...,1,0,0,0,0,0,0,0,1,0
5,0,0,0,0,1,0,0,0,1,1,...,1,0,0,0,0,0,0,0,1,0
6,0,0,0,0,1,0,0,0,1,1,...,1,0,0,0,0,0,0,0,1,0

In [26]:
frames = [df,df1]
df = pd.concat(frames,axis=1)
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield,Soil_Type,Predominantly reddish medium texture,...,west north west lithosols,Alluvial deposites calcareous,Alluvial prone to water logging,Black of alluvial origin,Desert soils and sand dunes aeolian soil,Predominantly reddish medium texture,Red desert soils,Sandy loam,Sierozens,Soil are lithosolsat foot hills & alluvials in plains
0,Rajasthan,AJMER,1997,Kharif,Bajra,56600.0,30400.0,0.537102,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0
1,Rajasthan,AJMER,1997,Kharif,Jowar,105900.0,34600.0,0.326723,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0
4,Rajasthan,AJMER,1997,Rabi,Barley,24700.0,28900.0,1.170040,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0
5,Rajasthan,AJMER,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0
6,Rajasthan,AJMER,1997,Rabi,Wheat,79300.0,144500.0,1.822194,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0

In [27]:
df.District_Name.replace({'AJMER':'Ajmer','JAIPUR':'Jaipur','DAUSA':'Dausa','TONK':'Tonk','SIKAR':'Sikar','JHUNJHUNU':'Jhunjhunu',
                    'NAGAUR':'Nagaur','ALWAR':'Alwar','BHARATPUR':'Bharatpur','DHOLPUR':'Dholpur',
                    'SAWAI MADHOPUR':'Sawai Madhopur','KARAULI':'Karauli','BIKANER':'Bikaner','CHURU':'Churu',
                    'JAISALMER':'Jaisalmer','GANGANAGAR':'Ganganagar','HANUMANGARH':'Hanumangarh','JODHPUR':'Jodhpur',
                    'BARMER':'Barmer','JALORE':'Jalore','PALI':'Pali','SIROHI':'Sirohi','KOTA':'Kota','BARAN':'Baran',
                    'BUNDI':'Bundi','JHALAWAR':'Jhalawar','BANSWARA':'Banswara','DUNGARPUR':'Dungarpur','UDAIPUR':'Udaipur',
                    'BHILWARA':'Bhilwara','CHITTORGARH':'Chittorgarh','RAJSAMAND':'Rajsamand'}, regex=True, inplace=True)

In [28]:
df.District_Name.value_counts()

Jaisalmer         115
Bikaner           115
Sawai Madhopur    115
Baran             115
Alwar             115
Rajsamand         115
Tonk              115
Dausa             115
Pali              115
Ajmer             115
Bharatpur         115
Bundi             115
Dholpur           115
Jhalawar          115
Nagaur            115
Jalore            115
Jaipur            115
Bhilwara          115
Jodhpur           115
Chittorgarh       114
Dungarpur         114
Banswara          114
Kota              114
Barmer            114
Sikar             114
Udaipur           114
Ganganagar        114
Jhunjhunu         114
Sirohi            114
Churu             113
Hanumangarh       113
Karauli           113
Name: District_Name, dtype: int64

In [29]:
len(df.District_Name.unique())

32

In [30]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield,Soil_Type,Predominantly reddish medium texture,...,west north west lithosols,Alluvial deposites calcareous,Alluvial prone to water logging,Black of alluvial origin,Desert soils and sand dunes aeolian soil,Predominantly reddish medium texture,Red desert soils,Sandy loam,Sierozens,Soil are lithosolsat foot hills & alluvials in plains
0,Rajasthan,Ajmer,1997,Kharif,Bajra,56600.0,30400.0,0.537102,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0
1,Rajasthan,Ajmer,1997,Kharif,Jowar,105900.0,34600.0,0.326723,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0
4,Rajasthan,Ajmer,1997,Rabi,Barley,24700.0,28900.0,1.170040,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0
5,Rajasthan,Ajmer,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0
6,Rajasthan,Ajmer,1997,Rabi,Wheat,79300.0,144500.0,1.822194,"Sierozens, eastern part alluvial, west north w...",0,...,1,0,0,0,0,0,0,0,1,0

In [31]:
df.drop(columns = ['Soil_Type'],inplace=True)

In [32]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield,Predominantly reddish medium texture,Red desert soils,...,west north west lithosols,Alluvial deposites calcareous,Alluvial prone to water logging,Black of alluvial origin,Desert soils and sand dunes aeolian soil,Predominantly reddish medium texture,Red desert soils,Sandy loam,Sierozens,Soil are lithosolsat foot hills & alluvials in plains
0,Rajasthan,Ajmer,1997,Kharif,Bajra,56600.0,30400.0,0.537102,0,0,...,1,0,0,0,0,0,0,0,1,0
1,Rajasthan,Ajmer,1997,Kharif,Jowar,105900.0,34600.0,0.326723,0,0,...,1,0,0,0,0,0,0,0,1,0
4,Rajasthan,Ajmer,1997,Rabi,Barley,24700.0,28900.0,1.170040,0,0,...,1,0,0,0,0,0,0,0,1,0
5,Rajasthan,Ajmer,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098,0,0,...,1,0,0,0,0,0,0,0,1,0
6,Rajasthan,Ajmer,1997,Rabi,Wheat,79300.0,144500.0,1.822194,0,0,...,1,0,0,0,0,0,0,0,1,0

In [33]:
df.shape

(3664, 35)

In [34]:
df = df.rename(columns = {'State_Name':'State','District_Name':'District','Crop_Year':'Year'},inplace=False)

In [35]:
df.head()

,State,District,Year,Season,Crop,Area,Production,Yield,Predominantly reddish medium texture,Red desert soils,...,west north west lithosols,Alluvial deposites calcareous,Alluvial prone to water logging,Black of alluvial origin,Desert soils and sand dunes aeolian soil,Predominantly reddish medium texture,Red desert soils,Sandy loam,Sierozens,Soil are lithosolsat foot hills & alluvials in plains
0,Rajasthan,Ajmer,1997,Kharif,Bajra,56600.0,30400.0,0.537102,0,0,...,1,0,0,0,0,0,0,0,1,0
1,Rajasthan,Ajmer,1997,Kharif,Jowar,105900.0,34600.0,0.326723,0,0,...,1,0,0,0,0,0,0,0,1,0
4,Rajasthan,Ajmer,1997,Rabi,Barley,24700.0,28900.0,1.170040,0,0,...,1,0,0,0,0,0,0,0,1,0
5,Rajasthan,Ajmer,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098,0,0,...,1,0,0,0,0,0,0,0,1,0
6,Rajasthan,Ajmer,1997,Rabi,Wheat,79300.0,144500.0,1.822194,0,0,...,1,0,0,0,0,0,0,0,1,0

In [36]:
df.Year.unique()

array([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2015, 2016, 2012, 2013, 2014, 2017, 2018,
       2019], dtype=int64)

In [37]:
len(df.District.unique())

32

In [38]:
rainfall = pd.read_excel("Rainfall_1997_to_2019.xlsx")
rain = pd.DataFrame(rainfall)
rain.head()

,State,District,Year,January,February,March,April,May,June,July,August,September,October,November,December,Annual Total
0,Rajasthan,Ajmer,1997,3.947,0.000,0.609,1.791,14.522,93.433,129.173,281.991,76.899,22.970,53.270,6.612,685.217
1,Rajasthan,Ajmer,1998,0.034,15.187,2.397,23.993,0.956,157.776,58.179,117.911,193.063,35.003,7.943,0.000,612.442
2,Rajasthan,Ajmer,1999,6.968,10.736,0.000,0.000,5.152,91.344,131.338,172.254,56.180,26.921,0.039,0.000,500.932
3,Rajasthan,Ajmer,2000,0.347,5.932,0.142,1.483,14.242,14.651,327.974,37.004,10.270,0.000,3.826,0.000,415.871
4,Rajasthan,Ajmer,2001,0.640,0.442,2.747,11.572,47.413,119.721,221.669,135.901,16.909,16.385,0.370,0.000,573.769

In [39]:
rain.shape

(733, 16)

In [40]:
rain.Year.unique()

array([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019], dtype=int64)

In [41]:
rain.District.unique()

array(['Ajmer', 'Alwar', 'Banswara', 'Bharatpur', 'Bhilwara', 'Bikaner',
       'Bundi', 'Chittorgarh', 'Churu', 'Dausa', 'Dholpur', 'Dungarpur',
       'Ganganagar', 'Jaisalmer', 'Jhalawar', 'Jhunjhunu', 'Jodhpur',
       'Karauli', 'Kota', 'Nagaur', 'Rajsamand', 'Sawai Madhopur',
       'Sikar', 'Sirohi', 'Tonk', 'Udaipur', 'Јаipur', 'Јаlore', 'Вarmer',
       'Ваran', 'Наnumangarh', 'Раli'], dtype=object)

In [42]:
df.District.unique()

array(['Ajmer', 'Jaipur', 'Dausa', 'Tonk', 'Sikar', 'Jhunjhunu', 'Nagaur',
       'Alwar', 'Bharatpur', 'Dholpur', 'Sawai Madhopur', 'Karauli',
       'Bikaner', 'Churu', 'Jaisalmer', 'Ganganagar', 'Hanumangarh',
       'Jodhpur', 'Barmer', 'Jalore', 'Pali', 'Sirohi', 'Kota', 'Baran',
       'Bundi', 'Jhalawar', 'Banswara', 'Dungarpur', 'Udaipur',
       'Bhilwara', 'Chittorgarh', 'Rajsamand'], dtype=object)

In [43]:
x = []
for i in df.District.unique():
    if i not in rain.District.unique():
        x.append(i)
x

['Jaipur', 'Hanumangarh', 'Barmer', 'Jalore', 'Pali', 'Baran']

In [44]:
df.replace({'Jaipur':'Јаipur','Hanumangarh':'Наnumangarh','Barmer':'Вarmer','Jalore':'Јаlore',
              'Pali':'Раli','Baran':'Ваran'},inplace=True)

In [45]:
x = []
for i in df.District.unique():
    if i not in rain.District.unique():
        x.append(i)
x

[]

In [46]:
col = ['State','District','Year']
result = pd.merge(df,rain,on=col)

In [47]:
result.shape

(3648, 48)

In [48]:
result.head(15)

,State,District,Year,Season,Crop,Area,Production,Yield,Predominantly reddish medium texture,Red desert soils,...,April,May,June,July,August,September,October,November,December,Annual Total
0,Rajasthan,Ajmer,1997,Kharif,Bajra,56600.0,30400.0,0.537102,0,0,...,1.791,14.522,93.433,129.173,281.991,76.899,22.970,53.270,6.612,685.217
1,Rajasthan,Ajmer,1997,Kharif,Jowar,105900.0,34600.0,0.326723,0,0,...,1.791,14.522,93.433,129.173,281.991,76.899,22.970,53.270,6.612,685.217
2,Rajasthan,Ajmer,1997,Rabi,Barley,24700.0,28900.0,1.170040,0,0,...,1.791,14.522,93.433,129.173,281.991,76.899,22.970,53.270,6.612,685.217
3,Rajasthan,Ajmer,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098,0,0,...,1.791,14.522,93.433,129.173,281.991,76.899,22.970,53.270,6.612,685.217
4,Rajasthan,Ajmer,1997,Rabi,Wheat,79300.0,144500.0,1.822194,0,0,...,1.791,14.522,93.433,129.173,281.991,76.899,22.970,53.270,6.612,685.217
5,Rajasthan,Ajmer,1998,Kharif,Bajra,55089.0,6045.0,0.109732,0,0,...,23.993,0.956,157.776,58.179,117.911,193.063,35.003,7.943,0.000,612.442
6,Rajasthan,Ajmer,1998,Kharif,Jowar,105177.0,6080.0,0.057807,0,0,...,23.993,0.956,157.776,58.179,117.911,193.063,35.003,7.943,0.000,612.442
7,Rajasthan,Ajmer,1998,Rabi,Barley,21534.0,40167.0,1.865283,0,0,...,23.993,0.956,157.776,58.179,117.911,193.063,35.003,7.943,0.000,612.442
8,Rajasthan,Ajmer,1998,Rabi,Rapeseed &Mustard,27203.0,13797.0,0.507187,0,0,...,23.993,0.956,157.776,58.179,117.911,193.063,35.003,7.943,0.000,612.442
9,Rajasthan,Ajmer,1998,Rabi,Wheat,74805.0,134057.0,1.792086,0,0,...,23.993,0.956,157.776,58.179,117.911,193.063,35.003,7.943,0.000,612.442
10,Rajasthan,Ajmer,1999,Kharif,Bajra,57959.0,5922.0,0.102176,0,0,...,0.000,5.152,91.344,131.338,172.254,56.180,26.921,0.039,0.000,500.932
11,Rajasthan,Ajmer,1999,Kharif,Jowar,112136.0,21196.0,0.189020,0,0,...,0.000,5.152,91.344,131.338,172.254,56.180,26.921,0.039,0.000,500.932
12,Rajasthan,Ajmer,1999,Rabi,Barley,12259.0,17582.0,1.434212,0,0,...,0.000,5.152,91.344,131.338,172.254,56.180,26.921,0.039,0.000,500.932
13,Rajasthan,Ajmer,1999,Rabi,Rapeseed &Mustard,41337.0,20544.0,0.496988,0,0,...,0.000,5.152,91.344,131.338,172.254,56.180,26.921,0.039,0.000,500.932
14,Rajasthan,Ajmer,1999,Rabi,Wheat,40412.0,41161.0,1.018534,0,0,...,0.000,5.152,91.344,131.338,172.254,56.180,26.921,0.039,0.000,500.932

In [49]:
result.sort_values(['District','Year'],inplace=True)

In [50]:
result.to_excel("Final_Dataset_Minor_Project.xlsx",index=False)

In [51]:
result.District.value_counts()

Jaisalmer         115
Bikaner           115
Sawai Madhopur    115
Alwar             115
Tonk              115
Dausa             115
Ajmer             115
Раli              115
Bharatpur         115
Јаipur            115
Dholpur           115
Bundi             115
Jhalawar          115
Bhilwara          115
Јаlore            115
Ваran             115
Nagaur            115
Jhunjhunu         114
Chittorgarh       114
Banswara          114
Dungarpur         114
Вarmer            114
Udaipur           114
Kota              114
Sikar             114
Jodhpur           114
Ganganagar        114
Sirohi            114
Churu             113
Karauli           113
Наnumangarh       113
Rajsamand         100
Name: District, dtype: int64

In [52]:
result.Season.value_counts()

Rabi      2198
Kharif    1450
Name: Season, dtype: int64

In [53]:
result.shape

(3648, 48)

In [54]:
Seasonal_Rain = []
count = 0
for i in result["Season"]:
    
    if i=="Kharif":
        x = (result["July"]+result["August"]+result["September"]+result["October"])/4
        Seasonal_Rain.append(x[count])
        count+=1
        
    else:
        x = (result["November"]+result["December"]+result["January"]+result["February"]+result["March"])/4
        Seasonal_Rain.append(x[count])
        count+=1

In [55]:
result["Mean_Seasonal_Rainfall"] = Seasonal_Rain
result["Mean_Seasonal_Rainfall"][0]

127.75825

In [56]:
result.head()

,State,District,Year,Season,Crop,Area,Production,Yield,Predominantly reddish medium texture,Red desert soils,...,May,June,July,August,September,October,November,December,Annual Total,Mean_Seasonal_Rainfall
0,Rajasthan,Ajmer,1997,Kharif,Bajra,56600.0,30400.0,0.537102,0,0,...,14.522,93.433,129.173,281.991,76.899,22.97,53.27,6.612,685.217,127.75825
1,Rajasthan,Ajmer,1997,Kharif,Jowar,105900.0,34600.0,0.326723,0,0,...,14.522,93.433,129.173,281.991,76.899,22.97,53.27,6.612,685.217,127.75825
2,Rajasthan,Ajmer,1997,Rabi,Barley,24700.0,28900.0,1.170040,0,0,...,14.522,93.433,129.173,281.991,76.899,22.97,53.27,6.612,685.217,16.10950
3,Rajasthan,Ajmer,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098,0,0,...,14.522,93.433,129.173,281.991,76.899,22.97,53.27,6.612,685.217,16.10950
4,Rajasthan,Ajmer,1997,Rabi,Wheat,79300.0,144500.0,1.822194,0,0,...,14.522,93.433,129.173,281.991,76.899,22.97,53.27,6.612,685.217,16.10950

In [57]:
result.columns

Index(['State', 'District', 'Year', 'Season', 'Crop', 'Area', 'Production',
       'Yield', ' Predominantly reddish medium texture', ' Red desert soils',
       ' Sandy loam', ' Soil are lithosolsat foot hills & alluvials in plains',
       ' brown soils', ' clay loam',
       ' coarse sand in texture some places calcareous',
       ' deep soils in valleys', ' eastern part alluvial', ' foot hills',
       ' groundwater salinity', ' high soluble salts & exchangeable sodium',
       ' loamycoarse in texture & calcareous',
       ' nature of recently alluvial calcareous has been observed',
       ' sallow depth red soils in depressions', ' shallow on hills',
       ' well drained calcareous', ' west north west lithosols',
       'Alluvial deposites calcareous', 'Alluvial prone to water logging',
       'Black of alluvial origin', 'Desert soils and sand dunes aeolian soil',
       'Predominantly reddish medium texture', 'Red desert soils',
       'Sandy loam', 'Sierozens',
       'Soil are lithosolsat foot hills & alluvials in plains', 'January',
       'February', 'March', 'April', 'May', 'June', 'July', 'August',
       'September', 'October', 'November', 'December', 'Annual Total',
       'Mean_Seasonal_Rainfall'],
      dtype='object')

In [58]:
col = ['State','January','February', 'March', 'April', 'May', 'June', 'July', 'August',
       'September', 'October', 'November', 'December', 'Annual Total']

result.drop(col, axis=1, inplace=True)

In [59]:
result.head()

,District,Year,Season,Crop,Area,Production,Yield,Predominantly reddish medium texture,Red desert soils,Sandy loam,...,Alluvial deposites calcareous,Alluvial prone to water logging,Black of alluvial origin,Desert soils and sand dunes aeolian soil,Predominantly reddish medium texture,Red desert soils,Sandy loam,Sierozens,Soil are lithosolsat foot hills & alluvials in plains,Mean_Seasonal_Rainfall
0,Ajmer,1997,Kharif,Bajra,56600.0,30400.0,0.537102,0,0,0,...,0,0,0,0,0,0,0,1,0,127.75825
1,Ajmer,1997,Kharif,Jowar,105900.0,34600.0,0.326723,0,0,0,...,0,0,0,0,0,0,0,1,0,127.75825
2,Ajmer,1997,Rabi,Barley,24700.0,28900.0,1.170040,0,0,0,...,0,0,0,0,0,0,0,1,0,16.10950
3,Ajmer,1997,Rabi,Rapeseed &Mustard,36700.0,25400.0,0.692098,0,0,0,...,0,0,0,0,0,0,0,1,0,16.10950
4,Ajmer,1997,Rabi,Wheat,79300.0,144500.0,1.822194,0,0,0,...,0,0,0,0,0,0,0,1,0,16.10950

In [60]:
pred_data = pd.get_dummies(result)
pred_data.head()

,Year,Area,Production,Yield,Predominantly reddish medium texture,Red desert soils,Sandy loam,Soil are lithosolsat foot hills & alluvials in plains,brown soils,clay loam,...,District_Ваran,District_Наnumangarh,District_Раli,Season_Kharif,Season_Rabi,Crop_Bajra,Crop_Barley,Crop_Jowar,Crop_Rapeseed &Mustard,Crop_Wheat
0,1997,56600.0,30400.0,0.537102,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
1,1997,105900.0,34600.0,0.326723,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
2,1997,24700.0,28900.0,1.170040,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
3,1997,36700.0,25400.0,0.692098,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
4,1997,79300.0,144500.0,1.822194,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1

In [61]:
pred_data.to_excel("Dataset_for_Prediction.xlsx",index=False)

In [62]:
pred_data.isnull().sum()

Year                                      0
Area                                      0
Production                                9
Yield                                    20
 Predominantly reddish medium texture     0
                                         ..
Crop_Bajra                                0
Crop_Barley                               0
Crop_Jowar                                0
Crop_Rapeseed &Mustard                    0
Crop_Wheat                                0
Length: 71, dtype: int64

In [63]:
pred_data = pred_data.dropna()

In [64]:
pred_data.isnull().sum()

Year                                     0
Area                                     0
Production                               0
Yield                                    0
 Predominantly reddish medium texture    0
                                        ..
Crop_Bajra                               0
Crop_Barley                              0
Crop_Jowar                               0
Crop_Rapeseed &Mustard                   0
Crop_Wheat                               0
Length: 71, dtype: int64

In [65]:
x = pred_data.drop("Yield",axis=1)
y = pred_data[["Yield"]]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.0075, random_state=42)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (3600, 70)
x_test : (28, 70)
y_train : (3600, 1)
y_test : (28, 1)

In [66]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train,y_train)
preds = model.predict(x_test)

C:\Users\Sanchit\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
from sklearn.metrics import r2_score
r = r2_score(y_test,preds)
print("R2score when we predict using Randomn forest is ",r)

R2score when we predict using Randomn forest is  0.9852405373354148